@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.linear-gradient {
    background: linear-gradient(
      179.14deg,
      rgba(32, 18, 63, 0) -7.14%,
      #000000 87.01%
    );
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8);
  }
@import "base/typography.scss";
@import "base/forms.scss";
@import "base/icomoon.scss";

@import "layout/common.scss";
@import "layout/footer.scss";
@import "layout/header.scss";

@import "components/button.scss";
@import "components/card.scss";


@media only screen and (max-width: 770px) {
  .input-span {
      width: 100% !important;
  }
}