.cc-heading {
  @apply font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-r from-green-400 to-green-600;
}
.bg-banner {
  /* @apply bg-[url()]  */
  background-image: url("../../public/images/banner.jpeg");

  margin: 41px;
  border-radius: 50px;
}
.toggle-button {
  margin: 41px;
  border-radius: 50px;
  display: flex;
  gap: 20px;
  .button-latest {
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(7, 133, 7);
  }
  .button-oldest {
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(7, 133, 7);
  }
  .button-active {
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(7, 133, 7);
    color: rgb(238, 73, 39);
  }
}

.client-section {
  .brand-wheel {
    @apply flex-row items-center overflow-hidden flex relative h-[70px]  before:absolute before:left-[-10px] before:top-0 before:bottom-0 before:bg-gradient-to-r before:from-dark before:via-dark/50 before:to-dark/0 before:w-[70px] md:before:w-[150px] before:h-full before:z-[2] after:bg-gradient-to-l after:absolute after:top-0 after:bottom-0 after:from-dark after:via-dark/50 after:to-dark/0 after:w-[70px] md:after:w-[150px] after:h-full after:z-[2] after:right-0;
  }

  .brand-slide {
    @apply flex-shrink-0 absolute min-w-full flex justify-around;
    animation-name: slidelogo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .brand-slide.delay {
    transform: translateX(100%);
    animation-name: slidelogo2;
  }

  .logo-div {
    @apply inline-flex self-center px-[20px] min-w-[150px];
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;

    img {
      @apply max-w-[180px] max-h-[50px];
    }
  }

  .brand-wheel:hover .brand-slide {
    animation-play-state: paused;
  }
}

.client-list-all {
  @apply flex flex-wrap;

  .list {
    @apply flex items-center justify-center w-[25%] px-3 py-3 min-h-[180px];
  }
}

@keyframes slidelogo {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slidelogo2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.class-font {
  color: rgb(59, 225, 59);
}

.feedback-form {
  .form-group {
    @apply w-full md:w-1/2 px-2;

    &.full-width {
      @apply w-full;
    }
  }
}
