.main-page-layou {
  background-color: #13131a;
  display: flex;
  .container-sidebar {
    position: sticky;
    top: 0;
    color: white;
    height: 100vh;
    background-color: black;
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .nav-header {
      min-width: 80px;
      height: 80%;
      .ul-header {
        height: 100%;
        li {
          margin-top: 6px;
          padding: 15px;
          cursor: pointer;
          a {
            color: white;
          }
          a:hover {
            color: green;
          }
        }
      }
    }
  }
  .container-page {
    color: white;
    border-radius: 14px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    .main-page-layou {
      margin: 0px 10px 0px 10px;
      height: 100%;

      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
      display: flex;
      flex-direction: column;
      .ul-hori {
        background-color: black;
        padding: 20px;
        display: flex;
        flex-direction: row-reverse;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
      }
      .pages-layout {
        // box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
        background-color: black;
        margin: 20px 0px 0px 0px;
      }
      .footer {
        text-align: center;
        background-color: black;
        margin: 5px 0px 0px 0px;
        padding: 10px 0px 10px 0px;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
      }
    }
  }
}
.burger {
  cursor: pointer;
  position: fixed;
  color: white;
  display: inline;
  top: 20px;
  z-index: 9;
  left: 14px;
  background-color: #13131a;
}

.codepen-button {
  display: block;
  cursor: pointer;
  color: white;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  overflow: hidden;
  padding: 3px;
  isolation: isolate;
}

.codepen-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  background-size: 25% 100%;
  animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop
    0.75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}

.codepen-button-hover::before {
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
  to {
    transform: translateX(-25%);
  }
}

.codepen-button span {
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  background: #000;
  border-radius: 3px;
  height: 100%;
}
