/*Heading Styles */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.display-1 {
  @apply font-semibold mb-1;
  line-height: 1.25 !important;
  font-family: "Rubik", sans-serif !important;
}

.display-1 {
  @apply text-[52px] md:text-[64px] lg:text-[80px];
}

.display-2 {
  @apply text-[28px] md:text-[54px] lg:text-[72px];
}

h1,
.h1 {
  @apply text-[36px] md:text-[60px];
}

h2,
.h2 {
  @apply text-[28px] md:text-[48px];
}

h3,
.h3 {
  @apply text-3xl md:text-4xl;
}

h4,
.h4 {
  @apply text-2xl md:text-3xl;
}

h5,
.h5 {
  @apply text-[16px] md:text-[24px];
}

h6,
.h6 {
  @apply text-sm md:text-base;
}

a {
  @apply text-textColor hover:text-primary-dark inline-block transition-all font-medium;
}

p {
  @apply mb-3;
  letter-spacing: 0.005em;
  line-height: 1.6 !important;
}

.heading {
  @apply text-center mb-16;
}

#head-text {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  .char {
    transform: translateY(215px);
    transition: transform 0.3s;
  }
}
