
@tailwind base;
@tailwind components;
@tailwind utilities;

.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.form-wrapper  .form-group {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 20px;
}

.form-wrapper  .form-group input {
    width: 100%;
    border-radius: 10px;
    height: 40px;
    border:1px solid rgb(182, 180, 180);
    padding-left: 10px;
    padding-right: 5px;
}
.user-submit{
background-color: rgb(131, 248, 131);
border-radius: 14px;
padding: 7px 20px;
margin-right: 20px;
}
.user-submit:hover{
background-color: transparent;
border: 1px solid rgb(182, 180, 180);

}
.user-reset{
background-color: transparent;
border: 1px solid rgb(182, 180, 180);
border-radius: 14px;
padding: 7px 20px;
}

@media only screen and (min-width: 480px) {
    .form-wrapper  .form-group {
        width: 50%;
    }
}
